<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n" />
		</Console>

		<RollingFile name="logError" fileName="logs/logError.log"
			filePattern="logs/logError-%d{yyyy-MM-dd-HH-mm}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %msg%n" />
			<TimeBasedTriggeringPolicy  interval="1"/>
		</RollingFile>


		<RollingFile name="infoFile" fileName="logs/info.log"
			filePattern="logs/info-%d{yyyy-MM-dd-HH-mm}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %msg%n" />
			<TimeBasedTriggeringPolicy  interval="1"/>
		</RollingFile>


	</appenders>


	<loggers>
		<root level="all">
			<AppenderRef ref="logError"/>
			<AppenderRef ref="infoFile"/>
			<AppenderRef ref="Console"/>
		</root>

		

	</loggers>

</configuration>